* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*inserisco dimensioni e colore al body per rendere visibili le sezioni*/
body{
    width: 1036px;
    height: 1000px;
    background-color: orange;
}

/*ho preferito inserire una misura fissa al container calcolando gandezza immagini (prese dal file) e aggiungendo le misure dei margini*/
.container{
    width: 750px;
    height: 740px;
    background-color: rgba(255,255,255,1);
    margin: 50px auto;
}

.box{
    width: 230px;
    height: 350px;
    border: 1px solid rgb(0,0,0);
    float: left;
    margin: 10px;
}

.one{
    background-image: url(../img/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.two {
    background-image: url(../img/2.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.three{
    background-image: url(../img/3.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.four{
    background-image: url(../img/4.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.five{
    background-image: url(../img/5.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.six{
    background-image: url(../img/6.webp);
    background-size: cover;
    background-repeat: no-repeat;
    backgr
}